header {
    display: flex;
    justify-content: space-between;
    margin: 5% 5%;
}

.front {
    display: flex;
    display: block;
    justify-content: center;
}

.title {
    margin-top: 50px;
    text-align: center;
}

.scores, .timer {
    color: purple;
}

a {
    text-decoration: none;
}

.wrap {
    margin: 0 auto;
    width: 35%;
    text-align: center;
}

.option {
    margin-bottom: 10px;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid #330066;
    background-color: #330066;
    border-radius: 5px;
    width: 25%;
}

.hide {
    display: none;
}

.btn {
    border: 1px purple solid;
    background-color:  #330066;
    border-radius: 5px;
    padding: 5px 15px;
    color: #fff;
    transition: background 0.1s ease;
}

.button{
    text-align: center;
    margin-top: 15px;
}

.btn:active {
    background-color: violet;
}

.challenge {
    max-width: 60%;
    margin: 0 auto;
}

.results, .highScores {
    max-width: 50%;
    margin: 0 auto;
}

.userInitial {
    padding: 3px;
}

.addedStyle {
    padding-bottom: 25px;
    border-bottom: 2px solid darkgrey;
}

.comment {
    color: darkgray;
    font-style: italic;
    margin-top: 10px;
}

.highScoresList {
    width: 100%;
    margin-bottom: 15px;
    background-color: rgb(216, 205, 243);
    letter-spacing: 1px;
    font-size: 1rem;
    padding: 5px 25px;
}