header {
    display: flex;
    justify-content: space-between;
    margin: 5% 5%;
}

body {
    font-size: 1.25rem;
}

.front {
    display: flex;
    display: block;
    justify-content: center;
}

.title {
    margin-top: 50px;
    text-align: center;
}

.scores, .timer {
    color: purple;
}

.wrap {
    margin: 0 auto;
    width: 35%;
    text-align: center;
}

.option {
    margin-bottom: 10px;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid #330066;
    background-color: #330066;
    border-radius: 5px;
    width: 25%;
}

.hide {
    display: none;
}

.button, .submitBtn {
    border: 1px purple solid;
    background-color:  #330066;
    border-radius: 10%;
    padding: 5px 15px;
    color: #fff;
    transition: background 0.1s ease;
    font-size: 1rem;
}
.button{
    text-align: center;
    margin-top: 15px;
}

.btn:active {
    background-color: violet;
}

.challenge {
    max-width: 60%;
    margin: 0 auto;
}

.results {
    max-width: 50%;
    margin: 0 auto;
}

.userInitial {
    padding: 3px;
}

.addedStyle {
    padding-bottom: 25px;
    border-bottom: 2px solid darkgrey;
}

.comment {
    color: darkgray;
    font-style: italic;
    margin-top: 10px;
}
